@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700&display=swap");
/*variables*/
:root {
  --primary-color: #1916f0;
  --secondary-color: #eff6fc;
  --light-gray: #f5f5f5;
  --grey: #888;
  --text-grey: #000000;
  --black: #222;
}

/*global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "poppins" sans-serif;
  font-size: 1.6rem;
  background-color: white;
  color: var(--text-grey);
}

/* nav_bar */

.parent {
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 10px 8px 0px var(--shadow1), -5px 10px 8px 0px var(--shadow2),
    inset -5px -10px 5px 2px var(--shadow2);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.logo {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.parent ul li a {
  color: var(--primary-color);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.parent a.active,
a:hover {
  background-color: #1b9bff;
  transition: 0.5s;
}
.login-nav {
  margin-left: 260px;
  color: #fff;
}

.font {
  color: blue;
  font-size: 35px;
}
.menu {
  margin-left: 0px;
}

.menu ul,
li {
  display: flex;
  flex-direction: row;
  padding: 20px 0px 20px 0px;
  margin-left: 78px;
}
.btn {
  padding: 8px;
  width: 90px;
  font-size: 20px;
  border-radius: 3px;
  margin-left: 10px;
  background-color: rgb(53, 53, 240);
}

/* section1 */

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  margin-top: 150px;
}
.img {
  width: 180%;
  height: 100%;
  background-color: #eff6fc;
  margin-right: 400px;
}
.col-1 {
  margin-top: 60px;
  margin-bottom: 10px;
}

.input {
  height: 45px;
  width: 200px;
  padding: 10px;
  border: 0.5px solid;
  background: var(--primary-color);
  border-radius: 25px;
  margin-bottom: 200px;
  box-shadow: inset -5px -5px 10px #babecc, inset -5px -7px 5px #11111173;
  color: #fff;
  font-size: 17px;
}

.flex {
  display: flex;
}

.font-color {
  color: blue;
  font-size: 40px;
}
.icons-img {
  margin-left: 210px;
  height: 140px;
}

.iconss {
  height: 60px;
}

/* section 2 */
.col-doc {
  margin-top: 170px;
  height: 400px;
  width: 350px;
  margin-left: 70px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  box-shadow: 35px 35px 70px #bebebe, -35px -35px 70px #ffffff;
}
.col-doc h3 {
  color: blue;
}
.col-doc img {
  width: 200px;
  height: 100px;
  background: rgb(189, 186, 186);
}

.section2 {
  padding-bottom: 180px;
}

/* footer */
.container {
  max-width: 970px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: #24262b;
  padding: 40px;
}
.footer-col,
ul,
li {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-col {
  width: 25%;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #3633d8;
  height: 2px;
  box-sizing: border-box;
  width: 90px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  margin-top: 30px;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* Login */
:root {
  --background1: rgba(230, 230, 230);
  --shadow1: rgba(119, 119, 119, 0.5);
  --shadow2: rgba(255, 255, 255, 0.85);
  --labelColor: black;
  --displayProp: block;
}

.containerr {
  max-width: 500px;
  width: 100%;
  padding: 45px;
  padding-top: 20px;
  padding-bottom: 30px;
  border: 2px solid var(--background1);
  box-shadow: 15px 15px 10px 5px var(--shadow1),
    -10px -10px 10px 5px var(--shadow2), inset 15px 15px 10px 5px var(--shadow1),
    inset -10px -10px 10px 5px var(--shadow2);
  margin-left: 450px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 0px 120px 0px 120px;
  min-height: 500px;
  display: var(--displayProp) !important;
}

.user-details {
  margin-top: 30px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--labelColor);
}

.input-box {
  position: relative;
  width: 100%;
  margin-bottom: 35px;
}

.input-field {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  font-size: 18px;
  border: 2px solid var(--background1);
  outline: none;
  background-color: transparent;
  box-shadow: 5px 10px 8px 0px var(--shadow1), -5px 10px 8px 0px var(--shadow2),
    inset 5px 10px 5px 0px var(--shadow1),
    inset -5px -10px 5px 2px var(--shadow2);
  border-radius: 50px;
  padding-top: 10px;
}

.input-field:active {
  box-shadow: 5px 5px 5px 0px var(--shadow1), -5px 5px 5px 0px var(--shadow2),
    inset 5px 5px 5px 0px var(--shadow1), inset -5px -5px 5px 0px var(--shadow2);
}

.button {
  width: 100%;
  height: 50px;
}

.button input {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 23px;
  background: var(--background1);
  border: 1px solid var(--background1);
  outline: none;
  border-radius: 50px;
  box-shadow: 10px 10px 10px 2px var(--shadow1),
    -5px -5px 7px 2px var(--shadow2);
  color: var(--labelColor);
  cursor: pointer;
}

.button input:active {
  box-shadow: 5px 5px 5px 2px var(--shadow1), -5px -5px 5px 2px var(--shadow2),
    inset 5px 5px 5px 2px var(--shadow1), inset -5px -5px 5px 2px var(--shadow2);
}

.footerr {
  width: 100%;
  margin-top: 25px;
}

.social-media-icons {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-icons i {
  height: 50px;
  width: 50px;
  padding: 12px;
  font-size: 25px;
  border-radius: 50%;
  border: 2px solid var(--background1);
  cursor: pointer;
  outline: none;
  box-shadow: 5px 5px 5px 2px var(--shadow1), -2px -2px 5px 2px var(--shadow2),
    inset 3px 3px 5px 2px var(--shadow1), inset -2px -2px 5px 2px var(--shadow2);
  text-align: center;
}

.fa-google-plus {
  padding-left: 8px !important;
  color: rgb(228, 9, 9);
}

.fa-facebook {
  padding-left: 13px !important;
  color: rgb(13, 16, 233);
}

.fa-instagram {
  color: rgb(240, 10, 201);
}

.fa-twitter {
  color: rgb(9, 177, 228);
}

.fa-pinterest {
  color: rgb(223, 10, 10);
}

#toggle {
  cursor: pointer;
}

.label,
::placeholder,
.input-field {
  color: var(--labelColor);
}
.register {
  width: 60%;
  height: 50px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 23px;
  background: var(--background1);
  border: 1px solid var(--background1);
  outline: none;
  border-radius: 50px;
  box-shadow: 10px 10px 10px 2px var(--shadow1),
    -5px -5px 7px 2px var(--shadow2);
  color: var(--labelColor);
  cursor: pointer;
}

/* REGISTERATION */

.containerrr {
  max-width: 890px;
  width: 100%;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid rgba(255, 255, 255);
  box-shadow: 15px 15px 10px 5px rgba(119, 119, 119, 0.3),
    -10px -10px 10px 5px rgb(255, 255, 255, 0.8),
    inset 15px 15px 10px 5px rgba(119, 119, 119, 0.3),
    inset -10px -10px 10px 5px rgb(255, 255, 255, 0.8);
  border-radius: 0px 100px 0px 100px;
  margin-left: 250px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tittlee {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-boxx {
  width: calc(100% / 2 - 20px);
  position: relative;
  margin-bottom: 25px;
}

.input-boxx input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 8px;
  font-size: 18px;
  outline: none;
  border: 2px solid white;
  box-shadow: 15px 15px 10px 5px rgba(119, 119, 119, 0.3),
    -10px -10px 10px 5px rgb(255, 255, 255, 0.8),
    inset 15px 15px 10px 5px rgba(119, 119, 119, 0.3),
    inset -10px -10px 10px 5px rgb(255, 255, 255, 0.8);
  border-radius: 0px 100px 0px 100px;
}

.input-boxx .label {
  position: absolute;
  top: 10px;
  left: 5%;
  font-size: 20px;
  font-weight: bold;
  color: grey;
  transition: all 0.5s ease;
}

.input-boxx input:active {
  box-shadow: 5px 5px 5px 2px rgba(119, 119, 119, 0.3),
    -5px -5px 5px 2px rgb(255, 255, 255, 0.8),
    inset 5px 5px 5px 2px rgba(119, 119, 119, 0.3),
    inset -5px -5px 5px 2px rgb(255, 255, 255, 0.8);
}

.input-boxx input:focus ~ .label,
.input-boxx input:not(:placeholder-shown) ~ .label {
  font-size: 16px;
  top: -13px;
  background-color: rgba(230, 230, 230);
}

::placeholder {
  color: transparent;
}

.buttonn {
  width: 100%;
  height: 40px;
}

.buttonn input {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 23px;
  color: #0316bd;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid white;
  outline: none;
  box-shadow: 10px 10px 10px 2px rgba(119, 119, 119, 0.3),
    -10px -10px 10px 2px rgb(255, 255, 255, 0.8),
    inset 10px 10px 10px 2px rgba(119, 119, 119, 0.3),
    inset -10px -10px 10px 2px rgb(255, 255, 255, 0.8);
}

.buttonn input:active {
  box-shadow: 5px 5px 5px 2px rgba(119, 119, 119, 0.3),
    -5px -5px 5px 2px rgb(255, 255, 255, 0.8),
    inset 5px 5px 5px 2px rgba(119, 119, 119, 0.3),
    inset -5px -5px 5px 2px rgba(7, 1, 1, 0.8);
}

.footerrr {
  margin-top: 35px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.login {
  padding-top: 10px;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  width: 15%;
  text-align: center;
  text-shadow: 0px 0px 3px #0000005c;
  color: rgb(6, 6, 136);
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding-top: 0px 50px;
  align-items: center;
}

.social-media-icons i {
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(230, 230, 230);
  box-shadow: 5px 5px 5px 2px rgba(119, 119, 119, 0.3),
    -5px -5px 5px 2px rgb(255, 255, 255, 0.8),
    inset 5px 5px 5px 2px rgba(119, 119, 119, 0.3),
    inset -5px -5px 5px 2px rgb(255, 255, 255, 0.8);
  outline: none;
  border: 2px solid white;
}

.fa-facebook {
  color: rgba(9, 9, 230);
}

.fa-twitter {
  color: rgb(11, 154, 236);
}

.fa-instagram {
  color: rgba(224, 26, 118);
}

.fa-google-plus {
  color: rgb(185, 16, 58);
}

.fa-pinterest {
  color: rgb(138, 2, 2);
}

@media (max-width: 700px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 25px;
  }

  .user-details {
    max-height: 320px;
    overflow: scroll;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .input-box,
  .button {
    width: 91%;
    margin-left: 4%;
    margin-bottom: 25px;
    text-align: center;
  }

  .user-details::-webkit-scrollbar {
    width: 0px !important;
  }

  .social-media-icons,
  .login {
    width: 100%;
    margin-bottom: 25px;
  }

  .footer {
    margin-top: 0px !important;
  }
}

.error {
  font-weight: 600;
  padding: 10px;
  color: #ef0e76;
}

/* Responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* hopital */
.hospital {
}
.hos-head {
  margin-left: 450px;
  margin-top: 30px;
}
.hos-img {
  width: 100%;
  height: 450px;
}
.search {
  margin-top: 30px;
  margin-left: 400px;
  padding: 5px;
}
.search .input {
  border-radius: 2px;
}
.hospital-container {
  border: 1px solid;
  display: flex;
  width: 600px;
  height: 70px;
  align-items: center;
  margin-left: 330px;
  border-radius: 10px;
}

.search-btn {
  width: 80px;
  height: 40px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #2136f1;
  color: #fff;
}

.hospital-container h6 {
  margin-left: 200px;
  color: #888;
}
.Appiontment {
  width: 400px;
  font-size: 10px;
}
.txt-appiontment {
  margin: auto;
  align-items: center;
}
/* .ads {
  position: relative;
  border: 1px solid;
  width: 200px;
  height: 500px;
  margin-left: 20px;
}
.adss {
  position: relative;
  border: 1px solid;
  width: 200px;
  height: 500px;
  margin-left: 850px;
} */

/* doctors */

.boxes {
  background-color: #dbdbdb;
}
.doc-box {
  border: 1px solid;
  width: 400px;
  height: 300px;
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 40px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px rgba(119, 119, 119, 0.3),
    -5px -5px 5px 2px rgb(255, 255, 255, 0.8),
    inset 5px 5px 5px 2px rgba(119, 119, 119, 0.3),
    inset -5px -5px 5px 2px rgba(7, 1, 1, 0.8);
}
.doc-img {
  border-radius: 100px;
  width: 170px;
  height: 160px;
  margin-left: 40px;
  margin-top: 10px;
}
.doc-box h2 {
  color: #1916f0;
  margin-left: 50px;
  padding-top: 5px;
}
.doc-box h3 {
  margin-left: 90px;
  color: #595959;
}
.doc-btn {
  padding: 7px;
  margin-top: 5px;
  margin-left: 70px;
  color: #000000;
  font-size: 17px;
  border-radius: 9px;
  background-color: #5698e4;
}
.card-info {
  border: 1px solid;
  margin: 30px;
  width: 400px;
  height: 390px;
  border-radius: 20px;
  background-color: #dddddd;
}
.doc-info-img {
  border-radius: 50%;
  margin: 3px;
}
.card-info h3 {
  font-size: 15px;
  color: #595959;
  margin-left: 10px;
  margin-top: 8px;
}
.doc-info-patient {
  color: blue;
  margin-top: 40px;
  margin-left: 8px;
}
.doc-social {
  display: flex;
  margin-left: 28px;
  width: 40%;
  margin-top: 60px;
  padding-top: 0px 50px;
  align-items: center;
}

/* ************** counter /********** */
.counter {
  background-color: rgb(226, 221, 221);
}
.counter .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.counter .box-container .box {
  margin: 2rem 5rem;
  text-align: center;
}

.counter .box-container .box i {
  color: var(--blue);
  font-size: 5rem;
}

.counter .box-container .box span {
  color: var(--black);
  font-size: 3rem;
  display: block;
  padding: 1rem 0;
}

.counter .box-container .box h3 {
  color: #666;
}
